.user-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;
}

.user-data {
  padding-left: 10px;
  border-radius: 10px;
  box-shadow: rgba(3, 102, 214, 0.3) 6px 2px 16px 0px,
    rgba(87, 150, 222, 0.3) -6px -2px 16px 0px;
}

button {
  padding: 10px;
  font-size: 17px;
  background-color: lightgoldenrodyellow;
  color: black;
  cursor: pointer;
}

.loader {
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 5px solid;
  border-radius: 50%;
  --grad: conic-gradient(#0000 5%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--grad);
  mask: var(--grad);
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 450px) {
  .user-details {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 450px) and  (max-width: 850px) {
  .user-details {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 850px) and (max-width: 1200px) {
  .user-details {
    grid-template-columns: repeat(3, 1fr);
  }
}
